{% extends 'main/layout.html' %}
{% load static %}
{% block title%}Авторизация{% endblock %}

{% block content %}
    <h1>
        {% if user %}
        Пользователь {{user}} успешно зарегистрировался<br>
        {% endif %}
        Вход в аккаунт
    </h1>
    <form id="log-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Логин" required><br>
        <input type="password" name="pass" placeholder="Пароль" required><br>
        <button type="submit">Войти</button>
    </form>
    <h2>
        Ещё не с нами!?!?<br/>
        <a href="{% url 'register_page' %}">Регистрируйся быстро!!!!</a>
    </h2>
    <h3 id="error_log"></h3>
    <script src="{% static 'main/js/login.js' %}"></script>
{% endblock %}